In [5]:
# To swap two numbers
n1=int(input("Enter first number : "))
n2=int(input("Enter second number : "))

Enter first number : 21
Enter second number : 23

In [6]:
# using third variable
def thirdvari(n1,n2):
    temp=n1
    n1=n2
    n2=temp
    return n1,n2

In [7]:
thirdvari(n1,n2)

(23, 21)

In [10]:
# without using third variable
def arithematic(n1,n2):
    n1=n1+n2
    n2=n1-n2
    n1=n1-n2
    return n1,n2

In [11]:
arithematic(n1,n2)

(23, 21)